@model IEnumerable<GestionDeStock.Categoria>

@{
    ViewBag.Title = "Catálogo";
}

<h2>Catálogo</h2>

@foreach (var categoria in Model)
{
    <div class="categoria-section">
        <h3>@categoria.Nombre</h3>
        <div class="productos">

            @if (categoria.Productos != null)
            {
                <div class="categoria-section mb-4">
                    <div class="row">
                        @foreach (var producto in categoria.Productos)
                        {
                            <div class="col-md-4 mb-3">
                                <div class="card h-100 w-100">
                                    <img src="https://www.shutterstock.com/image-photo/stack-books-against-background-library-260nw-2459213053.jpg" class="card-img-top" alt="Imagen de @producto.Nombre" />
                                    <div class="card-body">
                                        <h5 class="card-title">@producto.Nombre</h5>
                                        <p class="card-text">Precio: @producto.Precio</p>
                                        <p class="card-text">Habilitado: @(producto.Habilitado ? "Sí" : "No")</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }else
            {
                <div class="producto-info">
                    <h4>No hay oroductos en esta categoria</h4>
                </div>

            }
            
        </div>
    </div>
}
